.reservations-main {
  padding: 90px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.block-title {
  text-align: center;
}

.form-box {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.form-box-select::before {
  font-family: "FontAwesome";
  content: "\f078";
  position: absolute;
  width: 10px;
  /* height: 10px; */
  top: 50%;
  right: 12px;
  transform: rotate(10px);
  transform: translate(0, -50%);
}

.reserve-book-btn {
  text-align: center;
}

@media (max-width: 768px) {
  .flex {
    display: block;
  }
  .form-box input {
    width: 100% !important;
  }
  .form-box select {
    width: 100% !important;
  }
}
